body {
  background-color: var(--bg-color);
  background-image: var(--bg-img-desktop);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
