.header {
  grid-area: header;
  display: flex;
  align-items: center;

  &__title {
    flex: 1;
    font-size: 3.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    letter-spacing: 0.2em;
  }

  &__light-mode {
    border: none;
    flex-basis: min(6rem, 100%);

    > img {
      margin: 0 auto;
    }
  }
}
