.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: hsl(0, 0%, 100%);
  width: min(40rem, 100%);
  border-radius: 4px;
  animation: modalFadeIn ease 0.5s;
  min-height: 60%;
  padding: 2em 2em;
  display: flex;
  justify-content: center;
}

.add-todo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: min(40rem, 100%);
  gap: 1.6rem;
}

.form-action {
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-action > input[type="text"],
.form-action > input[type="date"] {
  padding: 0.5rem;
}

.form-action > button {
  font-size: 1.8rem;
  font-weight: 700;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* utils class */
.deactivated {
  display: none;
}
