.content__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
}

.content__list {
  height: calc(100vh - 50vh);
  overflow: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  color: var(--inactive-color);

  & > * {
    margin: 0 auto;
    background-color: var(--bg-color);
    width: 90%;
    border-radius: 4px;
    padding: 0.5em 1em;
  }

  & > *:hover {
    color: var(--hover-color);
  }
}
