.content__header {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.content__list {
  height: calc(100vh - 50vh);
  overflow: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  color: var(--inactive-color);

  & > * {
    margin: 0 auto;
    background-color: var(--bg-color);
    width: 95%;
    border-radius: 4px;
    padding: 0.6em;
    display: grid;
    grid-template-columns: 0.2fr 5fr 1fr;
    gap: 0.5em;
    grid-template-areas:
      "status title actions"
      "status date actions";
    align-items: center;

    .item-status {
      grid-area: status;
    }

    .item-title {
      grid-area: title;
      color: var(--text-color);
    }

    .item-date {
      grid-area: date;
      font-size: 1.4rem;
    }

    .item-actions {
      cursor: pointer;
      grid-area: actions;
      display: flex;
      gap: 0.8rem;
      justify-content: space-around;
      align-items: center;
    }
  }

  & > *:hover {
    color: var(--hover-color);
  }
}

.no-todo {
  display: block;
  color: var(--text-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--card-bg);
}

.completed {
  text-decoration: line-through;
}
